# Gathering and Cleaning Data 

## DEEP Workshop #2
The goal of this notebook is to give you the knowledge of how to access and begin to understand a new data set.

### Table of contents: 
1. Review: Pandas Data Structures
2. Reading in Data
3. Getting an Initial Sense for the Data
4. Selecting Data Subsets
5. Computations and New Columns
6. Grouping and Aggregating the Data
7. Eliminating Rows from Dataset
8. Imputing Rows into Dataset
9. One-Hot Encoding

### Data Overview 
We are using a dataset on different cereals. Most of the columns are self explanatory but there are two columns that are coded: 
- mfr: Manufacturer of cereal
    - A = American Home Food Products;
    - G = General Mills
    - K = Kelloggs
    - N = Nabisco
    - P = Post
    - Q = Quaker Oats
    - R = Ralston Purina
- type:
    - cold
    - hot
   
You can find more about the dataset here: https://www.kaggle.com/crawford/80-cereals

# Review: Pandas Data Structures 

In pandas, there are two key data structures - a series and a dataframe.
A series a one-dimensional labeled array (or list) capable of holding any data type.
A dataframe represents tabular data and is composed of columns, where each column is a series.

You can read more about the basic data structures in Panda's documentation: https://pandas.pydata.org/docs/user_guide/dsintro.html

# Reading in Data

Before we can learn about pandas we need to read in the library. \
In python libraries are read in like this:
```
import library_name as some_abbreviation
```

First we want to access the data we will be using pandas.

To read-in and create a new data frame from a csv in pandas we use:

```
df = pd.read_csv('path or url to csv')
```

In [1]:
# import libraries 
import pandas as pd

In [2]:
# import your data 
path = "./cereal.csv"
cereal_df = pd.read_csv(path)

# Getting an Initial Sense for the Data  
The pandas DataFrame object that we just created has a lot of useful methods and attributes or getting a sense of what is included in our data.

A usefull attribute for determining the number of rows and columns of your data is:
```
df.shape #shape is an attribute not a method so we don't use parenthesis
```
To get a quick look at the first couple rows of your data use:
```
df.head() 
```
To get number of unique values in the dataframe 
```
df.nunique()
```

### Q: What are the dimensions/shape of the cereal dataset?

In [3]:
print(cereal_df.shape)

(77, 16)

### Q: Look at the head of the dataset. What does each row represent?

In [4]:
cereal_df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

### Q: What are the columns in the dataset? What datatype is each column?

In [5]:
print(cereal_df.dtypes)

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

### Q: How many unique ratings are there?

In [6]:
cereal_df.nunique()

name        77
mfr          7
type         2
calories    11
protein      6
fat          5
sodium      27
fiber       13
carbo       22
sugars      17
potass      36
vitamins     3
shelf        3
weight       7
cups        12
rating      77
dtype: int64

# Selecting Subsets 
A useful methods for selecting rows and columns:\
`subset_df = df.loc[desired rows, desired columns]`

For example if we wanted all rows but only the name and rating columns we would use:\
`cerealName_rating_df = cereal_df.loc[:, ['name', 'rating']]`

Or if we wanted only the first 50 rows but all columnns we would use:\
`first_50_df = cereal_df.loc[range(50), : ]`

We can also use boolean logic to select specific rows:\
`kellogs_df = cereal_df.loc[cereal_df.mfr == "K", :]`

### Q: What are the names of all the cereals made by General Mills? How many cereals are made by General Mills?

Hint: the code for General Mills is G

In [7]:
gm_df = cereal_df.loc[cereal_df.mfr == "G"]
gm_cereals = gm_df.name.unique()
print(gm_cereals)
print(len(gm_cereals))

['Apple Cinnamon Cheerios' 'Basic 4' 'Cheerios' 'Cinnamon Toast Crunch'
 'Clusters' 'Cocoa Puffs' 'Count Chocula' 'Crispy Wheat & Raisins'
 'Golden Grahams' 'Honey Nut Cheerios' 'Kix' 'Lucky Charms'
 'Multi-Grain Cheerios' 'Oatmeal Raisin Crisp' 'Raisin Nut Bran'
 'Total Corn Flakes' 'Total Raisin Bran' 'Total Whole Grain' 'Triples'
 'Trix' 'Wheaties' 'Wheaties Honey Gold']
22

### Q: What is the highest rating value in the dataset? What is the lowest rating value in the dataset?

In [8]:
print("Highest:", cereal_df.loc[:, "rating"].max())
print("Lowest:", cereal_df.loc[:, "rating"].min())

Highest: 93.704912
Lowest: 18.042851

### Q: How many cereals have sugar content over 5?

In [9]:
high_sugar_df = cereal_df.loc[cereal_df.sugars > 5]
high_sugar_df.shape[0]

46

# Computations and New Columns

We can also use typical mathematical operators on columns or data frame.

For example, to convert milligrams of sodium to grams, we would multiply the sodium column by 1000. **(NOTE: this will not actually change the value of the column. Instead a new series is returned)**
```
cereal_df.loc[:, "sodium"] * 1000 # note this will not actually change the value of the column
```

To create new or overiding existing columns from computations: 
```
df.loc[:, "column_name"] = a single value or an array type (ie. list, series, ect.)
```

So if we wanted to make a column of sodium in grams, we would do: 
```
cereal_df.loc[:, "grams_sodium"] = cereal_df.loc[:, "sodium"] * 1000
```

--- 
We can also use multiple columns in computations. For example, to compute the ratio of sugars to calories: 
```
cereal_df.loc[:, "sugars"] / (cereal_df.loc[:, "calories"])
```


Sometimes we want to make computations on single or multiple columns of our data. To do this we can use common mathematical opperations such as `.sum()`, `.mean()`, `.std()`, `median()`.

For example to compute the mean (or average) cumulative number of sugars:
```
cereal_df.loc[:,"sugars"].mean()
```

### Q: Create a column for grams of potassium. (Note: potassium is currently measured in milligrams.)

In [10]:
cereal_df.loc[:, "grams_potassium"] = cereal_df.loc[:, "potass"] / 1000
cereal_df.head(3)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,grams_potassium
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,0.280
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,0.135
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,0.320

### Q: Can you create a column of sugar/weight?

In [11]:
cereal_df.loc[:, "sugar_weight"] = cereal_df.loc[:, "sugars"] / cereal_df.loc[:, "weight"]
cereal_df.head(3)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,grams_potassium,sugar_weight
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,0.280,6.0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,0.135,8.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,0.320,5.0

### Q: What is the mean and median for sugar amount? Are they the same or different?

In [12]:
print(cereal_df.loc[:, "sugars"].mean())
print(cereal_df.loc[:, "sugars"].median())

6.922077922077922
7.0

### Q: What is the mean and median for fiber? Are they the same or different?

In [13]:
print(cereal_df.loc[:, "fiber"].mean())
print(cereal_df.loc[:, "fiber"].median())

2.1519480519480516
2.0

# Sorting

Dataframes make it easy to sort values in a specific column. For example, if we wanted to sort the dataframe by sugar levels, we would do: 
```
cereal_df.sort_values(by=['sugars])
```

By default, the sort is in ascending order (lowest to high). To sort in descending order, do: 
```
cereal_df.sort_values(by=['sugars], ascending=False)
```

### Q: What cereals have the most number of calories?

In [14]:
cereal_df.sort_values(by=['calories'])[:3]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,grams_potassium,sugar_weight
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912,0.330,0.0
54,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.0,60.756112,0.015,0.0
55,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,0,3,0.5,1.0,63.005645,0.050,0.0

### Q: What cereals have the least number of calories?

In [15]:
cereal_df.sort_values(by=['calories'], ascending=False)[:3]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,grams_potassium,sugar_weight
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.5,0.67,30.313351,0.16,8.666667
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863,0.17,11.000000
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765,0.17,11.000000

# Grouping and Aggregating the Data

Sometimes we want to look at our data at a different granularity. Pandas allows us to do this by grouping on columns.

For example to look at the average values for cold vs hot cereal: \
```
hot_cold_df = cereal_df.groupby(["type"]).mean().reset_index()
```

---

Q: Can you create a dataframe that is grouped by date?\
Q: What is the shape/dimensions of the new data frame? Does this make sense based off of the number of recorded days of data? 
Q: What does this new data frame represent?

You can also print off the head of this new data frame if you want to get a better sense of what it includes.

### Q: What are the average cereal measurements per manufacturer of cereal (mfr) ?

In [16]:
mfr_df = cereal_df.groupby(['mfr']).mean().reset_index()
mfr_df

,mfr,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,grams_potassium,sugar_weight
0,A,100.000000,4.000000,1.000000,0.000000,0.000000,16.000000,3.000000,95.000000,25.000000,2.000000,1.000000,1.000000,54.850917,0.095000,3.000000
1,G,111.363636,2.318182,1.363636,200.454545,1.272727,14.727273,7.954545,85.227273,35.227273,2.136364,1.049091,0.875000,34.485852,0.085227,7.561290
2,K,108.695652,2.652174,0.608696,174.782609,2.739130,15.130435,7.565217,103.043478,34.782609,2.347826,1.077826,0.796087,44.038462,0.103043,6.952088
3,N,86.666667,2.833333,0.166667,37.500000,4.000000,16.000000,1.833333,120.666667,8.333333,1.666667,0.971667,0.778333,67.968567,0.120667,1.833333
4,P,108.888889,2.444444,0.888889,146.111111,2.777778,13.222222,8.777778,113.888889,25.000000,2.444444,1.064444,0.714444,41.705744,0.113889,8.169591
5,Q,95.000000,2.625000,1.750000,92.500000,1.337500,10.000000,5.250000,74.375000,12.500000,2.375000,0.875000,0.823750,42.915990,0.074375,5.250000
6,R,115.000000,2.500000,1.250000,198.125000,1.875000,17.625000,6.125000,89.250000,25.000000,2.000000,1.000000,0.871250,41.542997,0.089250,6.125000

# Eliminating Rows

Sometimes our dataset contains null values which we may need to eliminate in order to perform more complex operations on the dataset. One strategy for dealing with such null values is elimination. For example, if we wanted to eliminate rows which contain null values for every single column, we would do: 
```
cereal_df.dropna(axis=0, how='all', inplace=True) 
```
*   axis=0 indicates that you want to eliminate null rows rather than columns. Technically, the axis parameter is set to 0 by default, so you do not need to specify this if you are solely interested in eliminating rows with null values. However, if you want to eliminate columns with null values, the axis parameter should be set to 1. 
*   how='all' indicates that you only want to eliminate rows where all values in the row are null. If you want to eliminate rows where any value in the row is null, use 'any'. By default, the how parameter is set to 'any' since, most of the time, we are interested in eliminating rows where even a single value is null. 
*   inplace=True indicates that you want to eliminate the rows in the dataframe directly rather than generate a new dataframe which you then have to save to cereal_df once again. By default, inplace is set to False.

### Q: Read in the second provided dataset: cereal_null.csv

In [17]:
path = './cereal_null.csv'
cereal_null_df = pd.read_csv(path)

### Q: Which columns of the dataset contain null values? 
(Hint: Combine .isna() with an additional function)

In [18]:
cereal_null_df.isna().any()

name        False
mfr         False
type        False
calories     True
protein     False
fat         False
sodium      False
fiber       False
carbo       False
sugars      False
potass      False
vitamins    False
shelf       False
weight      False
cups        False
rating      False
dtype: bool

### Q: Eliminate any row in the dataframe which contains at least one null value.

In [19]:
cereal_null_df.dropna(inplace=True)

### Q: Verify that there are no null values remaining in the dataset using a command from a previous question.

In [20]:
cereal_null_df.isna().any()

name        False
mfr         False
type        False
calories    False
protein     False
fat         False
sodium      False
fiber       False
carbo       False
sugars      False
potass      False
vitamins    False
shelf       False
weight      False
cups        False
rating      False
dtype: bool

# Imputing Rows Into a Dataset
Elimination is not always ideal for dealing with null values. In cases where eliminating rows leads to massive decreases in the size of a dataset, imputation **might** prove to be a superior alternative. There are two common methods to perform imputation. The first is a simple pandas function: 
```
df = df.fillna(df.mean())
```
Notice that this imputes the average value of a column for null values in the dataset. An alternative method to perform imputation involves the numpy and scikit-learn libraries.
```
from sklearn.impute import SimpleImputer
import numpy as np
```
To run the SimpleImputer, we would do: 
```
imp = SimpleImputer(missing_values = np.nan, strategy='mean')
df = imp.fit_transform(df.values)
```
*   *missing_values = np.nan* specifies which kinds of values we want to replace via imputation. np.nan refers to the NaN (not a number) value stored within numpy. 
*   *strategy = mean* indicates that we want to replace all null values with the mean value for the column that the value belongs to
*   *fit_transform* is somewhat complex. In scikit-learn, the SimpleImputer() belongs to a class of operations known as **transformers** whose job is to transform data. The transformer accomplishes this via a two-step process - fit() and transform() - which can be consolidated into a single step fit_transform() as shown above. fit() allows the transformer to understand parameters of the data while transform() uses these parameters to modify the dataset. In the case of SimpleImputer, the parameters are the missing values in question. 

At this point, you might ask, "Why would we go through the trouble of using SimpleImputer() if pandas has more readable, easier-to-implement alternative?" 

The answer boils down to the stronger power of the scikit-learn library relative to pandas. Unlike pandas, scikit-learn allows data scientists to make use of pipelines which enable the same transformations of a given dataset to be applied to multiple datasets with minimal code duplication. For more on scikit-learn piplines, feel free to consult sklearn documentation: https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html

### Q: Re-read the same cereal dataset with null values 
We need to re-read the file because we already eliminated all null values using the dropna() command previously, meaning we'd have nothing to impute

In [21]:
path = './cereal_null.csv'
cereal_null_df = pd.read_csv(path)

### Q: Verify that this dataset contains null values

In [22]:
cereal_null_df.isna().any()

name        False
mfr         False
type        False
calories     True
protein     False
fat         False
sodium      False
fiber       False
carbo       False
sugars      False
potass      False
vitamins    False
shelf       False
weight      False
cups        False
rating      False
dtype: bool

### Q: Use either of the two previously described methods to impute values into the dataset using the mode of the column (NOT mean)

In [23]:
"""
from sklearn.impute import SimpleImputer
import numpy as np

imp = SimpleImputer(missing_values = np.nan, strategy='most_frequent')
imputed_cereal_data = imp.fit_transform(cereal_null_df.values)
"""

imputed_cereal_data = cereal_null_df.fillna(cereal_null_df.mode().loc[0])

# One-Hot Encoding

While categories of data like color ('red', 'blue', 'green') or profession ('doctor', 'teacher', 'engineer') are easily understood by humans, these kinds of categories are not always immediately meaningful to a computer. For this reason, it is often useful to encode such categorical data in a numeric format. When categorical data is ordered, it is recommended to use Label Encoding. However, when categorical data is **unordered** as was the case for the previous examples, it is recommended to use a process known as One-Hot Encoding. There are two common methods of one-hot encoding. To one-hot encode the first column of a dataset, we would do: 
```
ohe_df = pd.get_dummies(df)
```
Using this function, pandas identifies all columns that contain string values and automatically one-hot encodes them. An alternative method to one-hot encoding can be performed using the scikit-learn library:
```
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

c_transf = ColumnTransformer([
  ('onehot', OneHotEncoder(), [colsToBeTransformed]), 
  ('nothing', 'passthrough', [colsToStaySame])
])

ohe_df = c_transf.fit_transform(df)
```
*   We first import the OneHotEncoder and ColumnTransformer from the scikit-learn library
*   We then create a ColumnTransformer which can be used to encode only certain columns of the dataset but keep the others unchanged
*   Notice that there is a list of several objects in the ColumnTransformer. Each object (denoted by parentheses) follows a set format: **(1) a phrase describing what this transformer does (2) the transformer itself (3) a list of columns (either represented by column names or column numbers) that will be affected by this transformation**
*   You must specify which columns will NOT be affected by the transformation using the 'nothing' phrase. Otherwise, the transformation will remove these columns from the dataset entirely.

### Q. One-hot encode the manufacturer column of the dataset (denoted by 'mfr') using either pandas or scikit-learn

In [24]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

non_mfr_cols = [col for col in list(cereal_df.columns) if col!='mfr']

c_transf = ColumnTransformer([
  ('onehot', OneHotEncoder(), ['mfr']), 
  ('nothing', 'passthrough', non_mfr_cols)
])

ohe_df = c_transf.fit_transform(cereal_df)

#ohe_df = pd.get_dummies(cereal_df, columns=['state'])